<h3>Simple table</h3>
<br>
<%= @simple_html_table.html_safe %>
<h3>Simple table w/o header</h3>
<br>
<%=  @simple_wo_header_table.html_safe %>
<h3>Advanced table</h3>
<br>
<%= @html_table.html_safe %>
